/* Global */
@font-face {
  font-family: "uwuFont";
  src: url("./public/fonts/uwuFont.woff") format('woff');
  font-display: swap;
}

* {
  font-family: "uwuFont";
}

body {
  margin: 0;
}

span {
  display: inline-block;
}

textarea:focus, input:focus{
  outline: none;
}

code {
  font-family: Consolas,"courier new";
  color: #cccccc;
  background-color: #2d2d2d;
  padding: 3px;
  margin-top: 3px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: #232323;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Utils */
.nopointer {
  cursor: default;
}

.opacity0 {
  opacity: 0
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.alignmiddle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligny {
  display: flex;
  align-items: center;
}

.panel1 {
  display: flex;
  height: 36px;
}

.panel2 {
  display: flex;
  height: 50px;
}

.header0 {
  width: 100%;
  height: 28px;
}

.inputfield1 {
  width: 175px;
  height: 36px;
  padding: 0;
  padding-left: 10px;
  border: 0;
}

.full {
  width: 100%;
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.link {
  text-decoration: underline;
  color: #6767ff;
  cursor: pointer;
}

/* Margins */
.margin0 {
  margin: 0;
}

.margin1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.margin2 {
  margin-top: 8px;
  margin-left: 15px;
}

.margin3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margintop0 {
  margin-top: 0px;
}

.margintop0b {
  margin-top: 2px;
}

.margintop1a {
  margin-top: 5px;
}

.margintop1 {
  margin-top: 10px;
}

.margintop1b {
  margin-top: 12px;
}

.margintop1c {
  margin-top: 15px;
}

.margintop2 {
  margin-top: 30px;
}

.margintop3 {
  margin-top: 20px;
}

.margintop4 {
  margin-top: 25px;
}

.marginbot0 {
  margin-bottom: 0px;
}

.marginbot1 {
  margin-bottom: 10px;
}

.marginleft1 {
  margin-left: 5px;
}

.marginleft2 {
  margin-left: 10px;
}

.marginleft2b {
  margin-left: 15px;
}

.marginleft3 {
  margin-left: 20px;
}

.marginleft4 {
  margin-left: 25px;
}

.marginright2 {
  margin-right: 10px;
}

/* Buttons */
.button1 {
  width: 170px;
  height: 36px;
}

.button2 {
  width: 100%;
  height: 32px;
}

/* Paddings */
.padding0 {
  padding: 0;
}

.paddingtop1 {
  padding-top: 3px;
}

.paddingtop2 {
  padding-top: 6px;
}

.paddingtop2b {
  padding-top: 10px;
}

.paddingtop3 {
  padding-top: 20px;
}

.paddingbot1 {
  padding-bottom: 3px;
}

.paddingbot2 {
  padding-bottom: 6px;
}

/* Borders */
.border0 {
  border: 0;
}

/* Texts */
.textcenter {
  text-align: center;
}

.text0 {
  font-size: 36px;
}

.text1 {
  font-size: 13px;
  padding: 5px 0 5px 0;
}

.text2 {
  font-size: 15px;
  padding: 8px 0 8px 0;
}

.text3 {
  font-size: 19px;
  padding: 8px 0 8px 0;
}

.text4 {
  font-size: 12px;
}

.text5 {
  font-size: 16px;
}

.text6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.text7 {
  font-size: 10px;
}

.text8 {
  font-size: 14px;
}

/* Colors */
.white {
  color: white;
}

.profileTooltipColor {
  color: grey;
}

.bgColor {
  background-color: #333;
}

.headerColor {
  background-color: #232323;
}

.chatColor {
  background-color: #2b2b2b;
}

.chatColor2 {
  color: #2b2b2b;
}

.tipColor {
  color: #bdbdbd;
}

.errorColor {
  color: red;
}

.successColor {
  color: green;
}

.acceptColor {
  color: #56e456;
}

.declineColor {
  color: #ff6161;
}

.pendingColor {
  color: #ffc061;
}

.hoveredMessageColor {
  background-color: #2f2e2e;
}

.selectedChannelColor {
  background-color: #333;
}

/* Chat */
.input-message {
  width: calc(100% - 25px);
  color: #acacac;
  border: 0;
  padding: 7px;
}

.message-wrapper {
  margin-bottom: 10px;
}

.message-image {
  width: 40%;
}

.file-icon {
  font-size: 24px;
  text-align: center;
  width: 38px;
  color: #acacac;
}

.video-overlay {
  margin-left: -410px;
  z-index: 1;
  height: 20px;
}

.video-player-wrapper {
  width: 420px;
  height: 255px;
  margin-top: 10px;
  padding: 12px;
  padding-top: 12px;
  border-radius: 5px;
}

.file-wrapper {
  width: 290px;
  height: 45px;
  padding: 12px;
  border-radius: 5px;
}

.file-link {
  width: 280px;
  display: inline-grid;
}

.video-player {
  width: 418px;
  height: 220px;
  border: 0;
  margin-top: 10px;
  border-radius: 6px;
}

.video-text {
  margin-left: 2px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.channel {
  height: 36px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server {
  height: 52px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server2 {
  height: 36px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channels {
  height: calc(100vh - 78px);
  width: 120px;
}

.servers {
  height: calc(100vh - 78px);
  width: 145px;
}

.chat-wrapper {
  width: calc(100vw - 150px);
}

.absolutepos {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.overlay {
  opacity: 0.65;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.overlaybox {
  width: 450px;
  height: 400px;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
}

.overlaybox3 {
  width: 800px;
  height: 600px;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
}

.overlaybox2 {
  right: auto;
  bottom: auto;
  width: 150px;
  height: 200px;
  background-color: #353535;
  z-index: 3;
}

.overlaybox4 {
  width: 80vw;
  height: 80vh;
  background-color: #353535;
  z-index: 3;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar4 {
  width: 35px;
  height: 35px;
  border-radius: 30%;
  object-fit: cover;
}

.section {
  height: 40%;
  width: 100%;
}

.channelHeader {
  height: 35px;
}

.voiceUserEntry {
  width: 100%;
  height: 35px;
}

.friendRequestEntry {
  width: 100%;
  height: 75px;
}

.friendEntry {
  width: 100%;
  height: 55px;
}

.vcInfo {
  width: 100%;
  height: 76px;
}

.membersList {
  width: 200px;
  height: 100%;
}

.button {
  position: absolute;
  border: 1px solid #6767ff;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #6767ff;
}

.inviteButton {
  margin-right: 40px;
  height: 30px;
  width: 70px;
}

.accountSettings {
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 240px;
  height: 50px;
}

.settingsButton {
  border: 1px solid #ff6161;
  color: #ff6161;
}

.accountBox {
  height: 155px;
  width: 70%;
  margin: 20px 20px 20px 20px;
  margin-top: 20px;
  background-color: #232323;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
}

.videoControls {
  margin-left: -420px;
  width: 420px;
  z-index: 1;
  margin-top: 207px;
  height: 33px;
  background-color: #1f1f1f;
}

.videoButton {
  position: relative;
  height: 22px;
  width: 22px;
  border: none;
}

.progressWrapper {
  width: 230px;
  height: 8px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.progress {
  height: 100%;
  background-color: #6767ff;
  border-radius: 10px;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeOut {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.stopped {
  opacity: 1;
}

.playing {
  opacity: 1;
}

.avatarOverlay {
  margin-left: -105px;
  opacity: 0.55;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  display: none;
}

.invite-wrapper {
  width: 290px;
  height: 95px;
  padding: 12px;
  border-radius: 5px;
}

.cropButton {
  margin-left: -40px;
  background-color: #232323;
  width: 35px;
  height: 25px;
  border-radius: 10px;
  z-index: 3;
  cursor: pointer;
}