/* Global */
@font-face {
  font-family: "uwuFont";
  src: url("./public/fonts/uwuFont.woff") format('woff');
  font-display: swap;
}

* {
  font-family: "uwuFont";
}

body {
  margin: 0;
}

span {
  display: inline-block;
}

textarea:focus, input:focus{
  outline: none;
}

code {
  font-family: Consolas,"courier new";
  color: #cccccc;
  background-color: #2d2d2d;
  padding: 3px;
  margin-top: 3px;
}

/* App Settings */
* {
  --serverSize: 150px;
  --channelSize: 220px;
  --dmSize: 150px;
  --friendSize: 150px;
  --membersSize: 200px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color5);
}

::-webkit-scrollbar-thumb {
  background: var(--color4);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Utils */
.nopointer {
  cursor: default;
}

.nopointerevents {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.opacity0 {
  opacity: 0
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.displaygrid {
  display: inline-grid;
}

.alignmiddle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligny {
  display: flex;
  align-items: center;
}

.panel1 {
  display: flex;
  height: 36px;
}

.panel2 {
  display: flex;
  align-items: center;
  height: 50px;
}

.header0 {
  width: 100%;
  height: 28px;
}

.inputfield1 {
  width: 175px;
  height: 36px;
  padding: 0;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color5);
  color: var(--color2);
}

.inputfield2 {
  padding-left: 20px;
}

.inputfield2b {
  width: 185px;
}

.inputfield2c {
  width: 295px;
}

.full {
  width: 100%;
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.link {
  text-decoration: underline;
  color: var(--color13);
  cursor: pointer;
}

/* Margins */
.margin0 {
  margin: 0;
}

.margin1 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.margin2 {
  margin-top: 8px;
  margin-left: 15px;
}

.margin3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margintop0 {
  margin-top: 0px;
}

.margintop0b {
  margin-top: 2px;
}

.margintop1a {
  margin-top: 5px;
}

.margintop1 {
  margin-top: 10px;
}

.margintop1b {
  margin-top: 12px;
}

.margintop1c {
  margin-top: 15px;
}

.margintop2 {
  margin-top: 30px;
}

.margintop3 {
  margin-top: 20px;
}

.margintop4 {
  margin-top: 25px;
}

.marginbot0 {
  margin-bottom: 0px;
}

.marginbot0b {
  margin-bottom: 5px;
}

.marginbot1 {
  margin-bottom: 10px;
}

.marginbot2 {
  margin-bottom: 15px;
}

.marginleft1 {
  margin-left: 5px;
}

.marginleft2 {
  margin-left: 10px;
}

.marginleft2b {
  margin-left: 15px;
}

.marginleft3 {
  margin-left: 20px;
}

.marginleft4 {
  margin-left: 25px;
}

.marginright3 {
  margin-right: 15px;
}

.marginright2 {
  margin-right: 10px;
}

.marginright1 {
  margin-right: 5px;
}

/* Buttons */
.button1 {
  width: 170px;
  height: 36px;
}

.button2 {
  width: 100%;
  height: 32px;
  cursor: pointer;
}

.button3 {
  width: 100%;
  height: 36px;
  cursor: pointer;
}

/* Paddings */
.padding0 {
  padding: 0;
}

.paddingtop1 {
  padding-top: 3px;
}

.paddingtop2 {
  padding-top: 6px;
}

.paddingtop2b {
  padding-top: 10px;
}

.paddingtop2c {
  padding-top: 15px;
}

.paddingtop3 {
  padding-top: 20px;
}

.paddingbot1 {
  padding-bottom: 3px;
}

.paddingbot2 {
  padding-bottom: 6px;
}

/* Borders */
.border0 {
  border: 0;
}

.firstBorder {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lastBorder {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Texts */
.textcenter {
  text-align: center;
}

.text0 {
  font-size: 30px;
  padding: 8px 0px 8px 0px;
}

.text1 {
  font-size: 13px;
  padding: 5px 0 5px 0;
}

.text2 {
  font-size: 15px;
  padding: 8px 0 8px 0;
}

.text2b {
  font-size: 15px;
}

.text3 {
  font-size: 19px;
  padding: 8px 0 8px 0;
}

.text4 {
  font-size: 12px;
}

.text5 {
  font-size: 16px;
}

.text6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.text7 {
  font-size: 10px;
}

.text8 {
  font-size: 14px;
}

.text9 {
  font-size: 14px;
  text-transform: capitalize;
}

/* Colors */
* {
  --color1: white;
  --color2: grey;
  --color3: #333;
  --color4: #232323;
  --color5: #2b2b2b;
  --color7: #bdbdbd;
  --color8: #ff6161;
  --color9: #56e456;
  --color10: #ffc061;
  --color11: #63307d;
  --color12: #2f2e2e;
  --color13: #6767ff;
}

.white {
  color: var(--color1);
}

.tooltipColor {
  color: var(--color2);
}

.bgColor {
  background-color: var(--color3);
}

.headerColor {
  background-color: var(--color4);
}

.chatColor {
  background-color: var(--color5);
}

.tipColor {
  color: var(--color7);
}

.acceptColor {
  color: var(--color9);
}

.declineColor {
  color: var(--color8);
}

.declineColor-b {
  background-color: var(--color8);
}

.errorColor {
  color: var(--color8);
}

.successColor {
  color: var(--color9);
}

.pendingColor {
  color: var(--color10);
}

.headerColor2 {
  background-color: var(--color11);
}

.hover:hover {
  background-color: var(--color12)
}

.hoverunderline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.selectedColor {
  background-color: var(--color3);
}

.selectedColor.server {
  border-radius: 5px;
}

.selectedColor.channel {
  border-radius: 5px;
}

/* Chat */
.input-message {
  width: calc(100% - 25px);
  color: #acacac;
  border: 0;
  padding: 7px;
}

.input-note {
  width: calc(100% - 35px);
  height: 60px;
  color: #acacac;
  border: 0;
  border-radius: 8px;
  padding: 7px;
  margin-top: 10px;
  margin-left: 10px;
}

.input-note-text {
  width: calc(100% - 15px);
  color: #acacac;
  border: 0;
  padding: 7px;
  background-color: transparent;
}

.userinfo-line {
  width: calc(100% + 14px);
  height: 2px;
  margin-top: 20px;
  margin-left: -7px;
  background-color: var(--color5);
}

.connection {
  width: 240px;
  height: 50px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;

  display: flex;
  align-items: center;
}

.connectionButton {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.connectionIcon {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.connectionText {
  margin-left: 10px;
  color: white;
  font-size: 15px;
}

.connectionSection1 {
  display: flex;
  align-items: center;

  width: calc(100% - 40px);
  height: 100%;
}

.connectionButtonSection1 {
  display: flex;
  align-items: center;

  width: calc(100% - 40px);
  height: 100%;
}

.connectionLink {
  width: 24px;
  height: 24px;
  transform: scale(0.8);
  cursor: pointer;
}

.connections {
  display: inline-grid;
  grid-template-columns: repeat(3, 260px);
  grid-template-rows: repeat(3, 60px);
  height: 180px;
  width: 100%;
}

.message-wrapper {
  margin-bottom: 10px;
}

.message-image {
  width: 40%;
  cursor: pointer;
  padding-top: 4px;
}

.file-icon {
  font-size: 24px;
  text-align: center;
  width: 38px;
  color: #acacac;
}

.video-overlay {
  margin-left: -410px;
  z-index: 1;
  height: 20px;
}

.video-player-wrapper {
  width: 420px;
  height: 255px;
  margin-top: 10px;
  padding: 12px;
  padding-top: 12px;
  border-radius: 5px;
}

.file-wrapper {
  width: 290px;
  height: 45px;
  padding: 12px;
  border-radius: 5px;
  margin-top: 5px;
}

.audio-wrapper {
  width: 425px;
  height: 85px;
  padding: 12px;
  border-radius: 5px;
  margin-top: 5px;
}

.file-link {
  width: 280px;
  display: inline-grid;
}

.video-player {
  width: 418px;
  height: 220px;
  border: 0;
  margin-top: 10px;
  border-radius: 6px;
}

.video-text {
  margin-left: 2px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.friend,
.dmChannel,
.channel {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.9);
}

.friend {
  width: var(--friendSize);
}

.dmChannel {
  width: var(--dmSize);
}

.channel {
  width: var(--channelSize);
  justify-content: end;
}

.channelSign {
  font-size: 23px;
  color: gray;
  margin-right: 7px;
  margin-left: 7px;
}

.addChannelText {
  font-size: 16px;
  color: gray;
}

.server {
  height: 52px;
  width: var(--serverSize);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.9);
}

.server2 {
  height: 36px;
  width: var(--serverSize);
  display: flex;
  align-items: center;
  justify-content: center;
}

.channels {
  width: var(--channelSize);
}

.dmChannels {
  width: var(--dmSize);
}

.friends {
  width: var(--friendSize);
}

.servers {
  width: var(--serverSize);
}

.chat-wrapper {
  width: calc(100vw - 150px);
}

.absolutepos {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.overlay {
  opacity: 0.65;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.overlaybox0 {
  width: 800px;
  height: 500px;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
  padding: 5px;
}

.overlaybox {
  width: 450px;
  height: 400px;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
  padding: 5px;
}

.overlaybox3 {
  width: 800px;
  height: 600px;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
}

.overlaybox2 {
  right: auto;
  bottom: auto;
  width: 150px;
  height: 200px;
  background-color: #353535;
  z-index: 3;
}

.overlaybox4 {
  width: 80vw;
  height: 80vh;
  background-color: #353535;
  z-index: 3;
  border-radius: 10px;
  padding: 5px;
}

.overlaybox5 {
  width: 600px;
  height: 600px;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
}

.overlaybox6 {
  width: 300px;
  height: 100px;
  background-color: #353535;
  border-radius: 10px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlaybox7 {
  width: 300px;
  height: 100px;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlaybox8 {
  width: 90%;
  height: 90%;
  background-color: #353535;
  border-radius: 10px;
  z-index: 3;
  padding: 5px;
}

.cropOverlay {
  width: 100%;
  height: 100%;
  margin-top: calc(-100% - 5px);
  background-color: #353535;
  z-index: 4;
  position: absolute;
  opacity: 0.5;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar4 {
  width: 35px;
  height: 35px;
  border-radius: 30%;
  object-fit: cover;
}

.avatar5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar6 {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.banner {
  width: calc(var(--channelSize) - 2px);
  object-fit: cover;
  background-color: #484848;
  border-top-left-radius: 10px;
  border: 1px solid var(--color7);
}

.banner2 {
  width: 270px;
  height: 150px;
  object-fit: cover;
  background-color: #484848;
}

.section {
  height: 35%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.section2 {
  margin-top: 1px;
  height: 48px;
  display: flex;
}

.section3 {
  height: calc(100% - 35% - 59px);
  background-color: var(--color3);
  padding: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.channelHeader {
  height: 35px;
}

.voiceUserEntry {
  width: 130px;
  height: 45px;
  margin-left: 20px;
}

.friendRequestEntry {
  width: 100%;
  height: 75px;
}

.friendEntry {
  width: 100%;
  height: 55px;
  margin-bottom: 1px;
}

.vcInfo {
  width: 100%;
  height: 68px;
  padding-top: 10px;
}

.vcInfo2 {
  height: 32px;
}

.vcInfo3 {
  height: 16px;
}

.membersList {
  width: var(--membersSize);
  height: 100%;
}

.button {
  position: absolute;
  border: 1px solid var(--color13);
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color13);
}

.inviteButton {
  margin-right: 40px;
  height: 30px;
  width: 70px;
}

.profileButton {
  width: 160px;
  height: 48px;
  border: none;
  position: relative;
}

.buttonFocused {
  border-bottom: 1px solid var(--color13);
}

.accountSettings {
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: calc(var(--serverSize) + var(--channelSize));
  height: 55px;
}

.settingsButton {
  border: 0;
  color: var(--color8)
}

.addEmoteButton {
  border: 0;
  color: var(--color8);
  width: 30px;
}

.accountBox {
  height: 155px;
  width: 70%;
  margin: 10px 20px 15px 15px;
  background-color: var(--color4);
  border-radius: 10px;
}

.videoControls {
  margin-left: -420px;
  width: 420px;
  z-index: 1;
  margin-top: 210px;
  height: 33px;
  background-color: var(--color4);
}

.audioControls {
  width: 420px;
  z-index: 1;
  height: 33px;
  background-color: var(--color4);
}

.videoButton {
  position: relative;
  height: 22px;
  width: 22px;
  border: none;
}

.progressWrapper {
  width: 230px;
  height: 8px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.progress {
  height: 100%;
  background-color: var(--color13);
  border-radius: 10px;
}

.fadeIn {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeOut {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.stopped {
  opacity: 1;
}

.playing {
  opacity: 1;
}

.avatarOverlay {
  margin-left: -105px;
  opacity: 0.55;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  display: none;
  cursor: pointer;
}

.avatarOverlay2 {
  margin-left: -100px;
}

.bannerOverlay {
  margin-left: -275px;
  opacity: 0.55;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  display: none;
  cursor: pointer;
}

.invite-wrapper {
  width: 290px;
  height: 115px;
  padding: 12px;
  border-radius: 5px;
  margin-top: 5px;
}

.invite-wrapper2 {
  height: 55px;
}

.cropButton {
  margin-left: -40px;
  background-color: var(--color4);
  width: 35px;
  height: 25px;
  border-radius: 10px;
  z-index: 3;
  cursor: pointer;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color5)
}

.appHeaderButtons {
  width: 102px;
  height: 100%;
  display: flex;
  align-items: center;
}

.appHeaderButton {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  border: none;
  background: transparent;
  outline: none;
  position: relative;
  color: #ff6b6b;
  transform: scale(0.75);
  cursor: pointer;
}

.account {
  width: calc(100% - 90px);
  height: 100%;
  display: flex;
  align-items: center;
}

.emoteSelector {
  height: 222px;
  width: calc(100% - 220px);
  background-color: white;
  z-index: 10;
  margin-bottom: 10px;
  position: relative;
  background-color: var(--color4);
  border-radius: 10px;
  padding-top: 10px;
  overflow-y: scroll;
}

.emoteItemWrapper {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoteItem {
  width: calc(100% - 20px);
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.emoteImage {
  height: 24px;
  width: 24px;
  object-fit: cover;
}

.emoteImage2 {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.emoteDeletionOverlay {
  background-color: red;
  height: 30px;
  width: 30px;
  margin-top: -35px;
  object-fit: cover;
  margin-right: 10px;
  opacity: 0.2;
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.emoteImage3 {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  left: -45px;
  bottom: 80px;
  position: relative;
}

.tooltipText2 {
  left: -47px;
  bottom: 70px;
}

.tooltipText3 {
  left: -47px;
  bottom: 80px;
}

.tooltipWrapper .tooltipText::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipWrapper:hover .tooltipText {
  visibility: visible;
}

.statusWrapper {
  margin-left: -28px;
  margin-top: 75px;
  width: 24px;
  height: 24px;
}

.status {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.statusWrapper2 {
  margin-left: -12px;
  margin-top: 23px;
  width: 12px;
  height: 12px;
}

.status2 {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.status3 {
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.statusText {
  width: calc(150px - 28px);
}

.mention {
  color: var(--color13);
  cursor: pointer;
}

.mention:hover {
  text-decoration: underline;
}

.prspace {
  white-space: pre;
}

.messageIcon {
  width: 20px;
  height: 20px;
}

.badge {
  width: 28px;
  height: 28px;
}

.badgeImage {
  width: 100%;
  height: 100%;
}

.mutual {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 10px;
}

.mutual:hover {
  background-color: var(--color12);
  cursor: pointer;
}

.volumeWrapper {
  position: relative;
  transform: rotate(270deg);
  padding: 4px;
  background-color: var(--color4);
  margin-left: -117px;
  margin-top: -185px;
  width: 165px;
}

.volumeWrapper {
  opacity: 0;
  pointer-events: all;
}

.statusDialog {
  width: 200px;
}

.inputfieldPrefix {
  margin-left: -188px;
  font-size: 15px;
  width: 188px;
  pointer-events: none;
}

.overlaybg {
  background: url("https://nekonetwork.net:8081/bg.png");
  z-index: -1;
}

.statusBorder {
  background-color: var(--color3);
  border-radius: 50%;
  padding-left: 2px;
  padding-top: 2px;
}